<ng-include ng-controller="headerController" src="'header/header.view.html'"></ng-include>
<div id="wrapper">
    <div id="modules">

      

      <div class="module m-04 paragraph envio-confirmacion">
        <div class="media nosotros-logo">
          <img src="img/Logo.svg">
        </div>
        <div class="data">
          <p>¡Gracias por contactarnos! Tu información ha sido enviada. Una vez que revisemos tus datos te responderemos.</p>
          <a href="/">Regresar</a>
        </div>
      </div>

      
    </div>
</div>
<ng-include ng-controller="footerController" src="'footer/footer.view.html'"></ng-include>