<div ng-if="realog === 'yes'">
<div id="login" class="projects">
    
    <a href="/dashboard" class="title">Nosotros</a>
    <div class="meniu">
        <div class="leftleft">
            <a href="/dashboard">
                <span class="material-icons">keyboard_backspace</span> Back
            </a>
        </div>
        <div class="centiecentie">IN THE PARK ADMIN</div>
        <div class="rightright"></div>
    </div>
        
    <!-- App -->
    <form>
        <!-- About -->
        <center><small>About</small></center>
        <textarea rows="4" placeholder="Acerca" ng-model="studioSettings.About" ng-show="lang != 'eng'"></textarea>
        
        <br><br>

        <!-- Clients -->
        <center><small>Clientes</small></center>
        <textarea rows="4" placeholder="Clientes" ng-model="studioSettings.Clients" ng-show="lang != 'eng'"></textarea>
        
        <hr>
        
        
        <!-- Press -->
        <div class="clearon">
            <center><small>Press URLS</small></center>
            
            <div class="left">
                
                <div ng-repeat="item in sosocial">
                    <input type="text" placeholder="Nombre de Sitio" ng-blur="sosocial.$save(item)" ng-model="item.Name">
                    <div style="text-align:right">
                            <span>&nbsp;</span>
                    </div>
                </div>
                
            </div>
            <div class="right">
                <div ng-repeat="item in sosocial">
                    <input type="text" placeholder="Url de Sitio" ng-blur="sosocial.$save(item)" ng-model="item.Url">
                    <div style="text-align:right">
                        <span ng-click="DelSoc(item)" class="ngremove">Remove</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            <div class="plusbutton" ng-click="newUrl()">
                <img src="img/url.svg"/>
            </div>
        </div>
        
        <hr>

        <center><small>Terms</small></center>
        <textarea rows="4" placeholder="Terminos y Condiciones" ng-model="studioSettings.Terminos" ng-show="lang != 'eng'"></textarea>
        
        <br><br>

        <center><small>Privacy</small></center>
        <textarea rows="4" placeholder="Privacidad" ng-model="studioSettings.Privacidad" ng-show="lang != 'eng'"></textarea>
        
        <br><br>


        
        
        
        </form>
        <!-- Save Button -->
        <form>
            <button id="btnLogin" ng-click="saveUrl()">Save</button>
        </form>
        
    </div>
</div>
<progress id="uploader" class="off"></progress>
</div>
<div ng-if="realog != 'yes'" ng-init="tologin()"></div>