<!-- <div ng-if="realog === 'yes'">
<style>
    body{
        padding: 0px 10px;
        margin-bottom: 0px;
    }
</style>
<div id="login">
    <img class="logo" src="img/commies.svg"/>
    
    <div class="meniu">
        <div class="leftleft"><a href="/projectssettings"><</a></div>
        <div class="centiecentie">{{project.Name}}</div>
        <div class="rightright">&nbsp;</div>
    </div>
    
    <form>
        <img id="thumbie" src="{{project.Thumbnail}}" style="width:100%;"/>
        <input type="file" id="thumb" placeholder="hola" style="display:none"  custom-on-change="uThumbnail">
        <label for="thumb">Thumbnail</label>
        
        <input type="text"  placeholder="Nombre" spellcheck="false" ng-model="project.Name" ng-show="lang != 'eng'"/>
        <input type="text" placeholder="Name" spellcheck="false" ng-model="project.NameE" ng-show="lang == 'eng'"/>
        <input type="text" placeholder="Categorias" spellcheck="false" ng-model="project.Tags" ng-show="lang != 'eng'"/>
        <input type="text"  placeholder="Tags" spellcheck="false" ng-model="project.TagsE" ng-show="lang == 'eng'"/>
        <div class="halfers">
            <input type="radio" ng-model="project.Settings.Ratio" value="l" id="horwin" name="horvsver" checked="checked">
            <input type="radio" ng-model="project.Settings.Ratio" value="p" id="verwin" name="horvsver">
            <label for="horwin" class="half" ng-class="{selected: project.Settings.Ratio == 'l'}">Landscape</label>
            <label for="verwin" class="half" ng-class="{selected: project.Settings.Ratio == 'p'}">Portrait</label>
        </div>
        <hr>
        <img id="headie" src="{{project.Header}}" style="width:100%;"/>
        <input type="file" id="header" placeholder="hola" style="display:none"  custom-on-change="uHeader">
        <label for="header">Header</label>
        <input type="text" placeholder="Titulo" spellcheck="false" ng-model="project.Title" id="titulo" ng-show="lang != 'eng'"/>
        <input type="text" placeholder="Title" spellcheck="false" ng-model="project.TitleE" id="title" ng-show="lang == 'eng'"/>
        
        
        <textarea rows="4" placeholder="Descripcion" id="descripcion" ng-model="project.Description" spellcheck="false" ng-show="lang != 'eng'"></textarea>
        <textarea rows="4" placeholder="Description" id="description" ng-model="project.DescriptionE" spellcheck="false" ng-show="lang == 'eng'"></textarea>
        
        
        
        <div ng-repeat="item in addies | orderBy: 'Order'">
            <hr>
            <span class="sectit">
                <span ng-if="item.Type == 'imgvid'">Image  </span>
                <span ng-if="item.Type == 'text'">Paragraph</span>
                <span ng-if="item.Type == 'twoc'">Two Columns</span>
                <span ng-if="item.Type == 'quote'">Quote</span>
                <span ng-if="item.Type == 'embed'">Embed</span>
            </span>
            <textarea ng-show="lang != 'eng'" ng-model="item.Src" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Escribe aquí" ng-blur="addies.$save(item)"></textarea>
            <textarea ng-show="lang == 'eng'" ng-model="item.SrcE" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Type here" ng-blur="addies.$save(item)"></textarea>
            <textarea ng-model="item.Src" ng-if="item.Type == 'embed'" placeholder="Paste iframe here" ng-blur="addies.$save(item)"></textarea>
            
            
            <img ng-if="item.Type == 'imgvid' && item.Src" id="IMG{{item.$id}}" src="{{item.Src}}" style="width:100%;"/>
            <input type="file" id="{{item.$id}}" style="display:none" custom-on-change="ChangeIMG" />
            <label for="{{item.$id}}" ng-if="item.Type == 'imgvid'">Select Picture  </label>
            
            
            <div style="display:block;height:40px">
                <div class="blockieup">
                    <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                        <img id="{{item.$id}}" src="img/up.svg"/>
                    </div>
                    <div id="{{item.$id}}" class="down" ng-click="downNum($event, item)">
                        <img id="{{item.$id}}" src="img/down.svg"/>
                    </div>
                    
                </div>
                <span style="float:right; margin-top:15px;" id="{{item.$id}}" ng-click="deleteAddonie($event, item)" class="ngremove">Remove</span>
            </div>
        </div>
        <hr>
        <div style="text-align:center;">
            <div class="plusbutton" ng-click="newAddonImg()">
                <img src="img/img.svg"/>
            </div>
            <div class="plusbutton" ng-click="newAddonText()">
                <img src="img/text.svg"/>
            </div>
            <div class="plusbutton" ng-click="newAddonTwoc()">
                <img src="img/twoc.svg"/>
            </div>
            <div class="plusbutton" ng-click="newAddonQuote()">
                <img src="img/quote.svg"/>
            </div>
            <div class="plusbutton" ng-click="newAddonEmbed()">
                <img src="img/embed.svg"/>
            </div>
        </div>
        <hr>
        <textarea rows="4" placeholder="Areas desarrolladas" id="descripcion" ng-model="project.Areas" spellcheck="false" ng-show="lang != 'eng'"></textarea>
        <textarea rows="4" placeholder="Developed Areas" id="description" ng-model="project.AreadE" spellcheck="false" ng-show="lang == 'eng'"></textarea>
        <textarea rows="4" placeholder="Creditos" id="descripcion" ng-model="project.Credits" spellcheck="false" ng-show="lang != 'eng'"></textarea>
        <textarea rows="4" placeholder="Credits" id="description" ng-model="project.CreditsE" spellcheck="false" ng-show="lang == 'eng'"></textarea>

        <hr>
        <button id="btnLogin" type="submit" ng-click="project.$save()">Save</button>
    </form>
</div>
<div class="footie">
    <span>&copy; Communal Studio 2017</span>
</div> -->
<!-- Switch -->
<!-- <a href="/project/{{project.$id}}" target="_blank" class="gotoproject">
    View Project
</a>
<div class="onoffswitch">
    <input ng-model="lang" ng-true-value="'eng'" ng-false-value="'esp'" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
<progress id="uploader" class="off"></progress>
    </div>
    <div ng-if="realog != 'yes'" ng-init="tologin()"></div> -->

<div ng-if="realog === 'yes'">
    <style>
       body {
            padding: 0px 10px;
            margin-bottom: 0px
        }
    </style>
    <div id="login" class="title">In The Park Admin
        <div class="meniu">
            <div class="leftleft">
                <a><span class="material-icons">keyboard_backspace</span> Back</a>
            </div>
            <div class="centiecentie">{{project.Name}}</div>
            <div class="rightright">&nbsp;</div>
        </div>
        <form>
            <img id="thumbie" src="{{project.Thumbnail}}" style="width:100%;"> <input type="file" id="thumb" placeholder="hola"
                style="display:none" custom-on-change="uThumbnail">
            <label for="thumb">Thumbnail</label>
            <input type="text" placeholder="Nombre" spellcheck="false" ng-model="project.Name" ng-show="lang != 'eng'">
            <input type="text" placeholder="Name" spellcheck="false" ng-model="project.NameE" ng-show="lang == 'eng'">
            <input type="text" placeholder="Categorias" spellcheck="false" ng-model="project.Tags" ng-show="lang != 'eng'">
            <input type="text" placeholder="Tags" spellcheck="false" ng-model="project.TagsE" ng-show="lang == 'eng'">
            <div class="halfers">
                <p>Select the size of the thumbnail inside the category.</p>
                <input type="radio" ng-model="project.Settings.Ratio" value="l" id="horwin" name="horvsver" checked>
                <input type="radio" ng-model="project.Settings.Ratio" value="p" id="verwin" name="horvsver">
                <label for="horwin" class="half" ng-class="{selected: project.Settings.Ratio == 'l'}">Landscape</label>
                <label for="verwin" class="half" ng-class="{selected: project.Settings.Ratio == 'p'}">Portrait</label>
            </div>
            <hr>
            <img id="headie" src="{{project.Header}}" style="width:100%;">
            <input type="file" id="header" placeholder="hola" style="display:none" custom-on-change="uHeader">
            <label for="header">Header</label>
            <input type="text" placeholder="Titulo" spellcheck="false" ng-model="project.Title" id="titulo"
                ng-show="lang != 'eng'">
            <input type="text" placeholder="Title" spellcheck="false" ng-model="project.TitleE" id="title"
                ng-show="lang == 'eng'">
            <textarea rows="4" placeholder="Descripcion" id="descripcion" ng-model="project.Description" spellcheck="false"
                ng-show="lang != 'eng'"></textarea>
            <textarea rows="4" placeholder="Description" id="description" ng-model="project.DescriptionE" spellcheck="false"
                ng-show="lang == 'eng'"></textarea>
            <div ng-repeat="item in addies | orderBy: 'Order'">
                <hr>
                <span class="sectit">
                    <span ng-if="item.Type == 'imgvid'">Image  </span>
                    <span ng-if="item.Type == 'text'">Paragraph</span>
                    <span ng-if="item.Type == 'twoc'">Two Columns</span>
                    <span ng-if="item.Type == 'quote'">Quote</span>
                    <span ng-if="item.Type == 'embed'">Embed</span>
                </span>
                <textarea ng-show="lang != 'eng'" ng-model="item.Src"
                    ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Escribe aquí"
                    ng-blur="addies.$save(item)"></textarea>
                <textarea ng-show="lang == 'eng'" ng-model=item.SrcE
                    ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Type here"
                    ng-blur="addies.$save(item)"></textarea>
                <textarea ng-model=item.Src ng-if="item.Type == 'embed'" placeholder="Paste iframe here"
                    ng-blur="addies.$save(item)"></textarea>
                <img ng-if="item.Type == 'imgvid' && item.Src" id="IMG{{item.$id}}" src="{{item.Src}}" style="width:100%;">
                <input type="file" id="{{item.$id}}" style="display:none" custom-on-change="ChangeIMG">
                <label for="{{item.$id}}" ng-if="item.Type == 'imgvid'">Select Picture  </label>
                <div style="display:block;height:40px">
                    <div class="blockieup">
                        <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                            <span id="{{item.$id}}" class="material-icons">expand_less</span>
                        </div>
                        <div id="{{item.$id}}" class="down" ng-click="downNum($event, item)">
                            <span id="{{item.$id}}" class="material-icons">expand_more</span>
                        </div>
                    </div>
                    <span style="float:right; margin-top:15px;" id="{{item.$id}}" ng-click="deleteAddonie($event, item)"
                        class="ngremove">Remove</span>
                </div>
            </div>
            <hr>
            <div style="text-align:center;">
                <label class="labl">Add new content blocks</label>
                <div class="plusbutton" ng-click="newAddonImg()">
                    <span class="material-icons">photo</span>
                </div>
                <div class="plusbutton" ng-click="newAddonText()">
                    <span class="material-icons">notes</span>
                </div>
                <div class="plusbutton" ng-click="newAddonTwoc()">
                    <img src="img/twoc.svg">
                </div>
                <div class="plusbutton" ng-click="newAddonQuote()">
                    <span class="material-icons">format_quote</span>
                </div>
                <div class="plusbutton" ng-click="newAddonEmbed()">
                    <img src="img/embed.svg">
                </div>
            </div>
            <hr>
            <textarea rows="4" placeholder="Areas desarrolladas" id="descripcion" ng-model="project.Areas" spellcheck="false"
                ng-show="lang != 'eng'"></textarea>
            <textarea rows="4" placeholder="Developed Areas" id="description" ng-model="project.AreadE" spellcheck="false"
                ng-show="lang == 'eng'"></textarea>
            <textarea rows="4" placeholder=Creditos id="descripcion" ng-model="project.Credits" spellcheck="false"
                ng-show="lang != 'eng'"></textarea>
            <textarea rows="4" placeholder=Credits id="description" ng-model="project.CreditsE" spellcheck="false"
                ng-show="lang == 'eng'"></textarea>
            <hr>
            <button id="btnLogin" type="submit" ng-click="project.$save()">Save</button>
        </form>
    </div>

    <a href="/project/{{project.$id}}" target="_blank" class="gotoproject">View Project</a>
    <div class="onoffswitch">
        <input ng-model="lang" ng-true-value="'eng'" ng-false-value="'esp'" type="checkbox" name="onoffswitch"
            class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
    </div>
    <progress id="uploader" class="off"></progress>
</div>
<div ng-if="realog != 'yes'" ng-init=tologin()></div>