<!-- <div ng-if="realog === 'yes'">
    <link rel="stylesheet" href="css/portfolio.css">
<style>
    body{
        padding: 0px 10px;
        margin-bottom: 0px;
    }
</style>
<div id="login" class="projects">
    <a href="/dashboard"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/ccc-inthepark.appspot.com/o/cccms.svg?alt=media&token=08cf6e5b-636d-4b02-8c41-32fdc5906d80"/>
    </a>
    <div class="meniu">
        <div class="leftleft"><a href="/dashboard"><</a></div>
        <div class="centiecentie">talento</div>
            <div class="rightright"><a href="/newtalent">+</a></div>
    </div>
    <form>
        <div id="repeater" ng-repeat="item in talento | orderBy: 'Order'" class="pblock" >
            <div class="arrows">
                <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                    <img id="{{item.$id}}" src="img/up.svg"/>
                </div>
                <div id="{{item.$id}}" class="down" ng-click="downNum($event, item)">
                    <img id="{{item.$id}}" src="img/down.svg"/>
                </div>
            </div>
            <a href="/edittalento/{{item.$id}}">{{item.Name}}</a>
            <div class="viewyes">
                <div ng-click="toggleVisible(item)" style="cursor:pointer">
                    <img src="img/vyes.svg" ng-class="{vyes: item.Visible == 'On', vno: item.Visible === 'Off'}"/>
                </div>
            </div>
            <div class="featured">
                <div ng-click="toggleFeatured(item)" style="cursor:pointer">
                    <img ng-if="item.Featured == 'Yes'" src="img/fyes.svg" class="fyes"/>
                    <img ng-if="item.Featured == 'No'" src="img/fno.svg" class="fno"/>
                </div>
            </div>
            <div class="featured">
                <div ng-click="toggleFeatured(item)" style="cursor:pointer">
                    <img ng-if="item.Featured == 'Yes'" src="img/fyes.svg" class="fyes"/>
                    <img ng-if="item.Featured == 'No'" src="img/fno.svg" class="fno"/>
                </div>
            </div>
            <div class="delete">
                <div style="cursor:pointer">
                    <img ng-if="item.Delete != 'Yes'" ng-click="item.Delete = 'Yes'" src="img/dno.svg" class="dno"/>
                    <span ng-if="item.Delete == 'Yes'">
                        <span id="{{item.$id}}" ng-click="productDelete($event, item)" class="mimune">&nbsp;Y&nbsp;</span>/<span class="mimune" ng-click="item.Delete = 'No'">&nbsp;N&nbsp;</span>
                    </span>
                </div>
            </div>
        </div>
    </form>   
</div>
    </div>
    <div ng-if="realog != 'yes'" ng-init="tologin()"></div> -->
<div ng-if="realog === 'yes'">
    <link rel="stylesheet" href="css/portfolio.css">
    <style>
        body {
            padding: 0px 10px;
            margin-bottom: 0px;
        }
        .arrows{
            display: flex !important;
        }
        a.ng-binding{
            text-align: center !important;
        }
    </style>
    <div id="login" class="projects">
        <a href="/dashboard" class="title">TALENTO</a>
        <div class="meniu">
            <div class="leftleft">
                <a href="/dashboard">
                    <span class="material-icons">keyboard_backspace</span> Back
                </a>
            </div>
            <div class="centiecentie">IN THE PARK ADMIN</div>
            <div class="rightright">
                <a href="/newtalent">
                    Add Element <span class="material-icons">add_circle</span>
                </a>
            </div>
        </div>
        <form>
            <div id="repeater" ng-repeat="item in talento | orderBy: '-Order'" class="pblock">
                <div class="arrows">
                    <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                        <span id="{{item.$id}}" class="material-icons">expand_less</span>
                    </div>
                    <div id="{{item.$id}} "class="down" ng-click="downNum($event, item)">
                        <span id="{{item.$id}}" class="material-icons">expand_more</span>
                    </div>
                </div>
                <a href="/edittalento/{{item.$id}}">{{item.Name}}</a>
                <div class="actions">
                    <div class="delete">
                        <div style="cursor:pointer">
                            <span ng-if="item.Delete != 'Yes'" ng-click="item.Delete = 'Yes'"
                                class="material-icons dno">clear</span>
                            <span ng-if="item.Delete == 'Yes'">
                                <span id="{{item.$id}}" ng-click="productDelete($event, item)"
                                    class="mimune">&nbsp;Y&nbsp;</span>/<span class="mimune"
                                    ng-click="item.Delete = 'No'">&nbsp;N&nbsp;</span>
                            </span>
                        </div>
                    </div>
                    <div class="viewyes">
                        <div ng-click="toggleVisible(item)" style="cursor:pointer">
                            <span ng-if="item.Visible == 'On'" class="material-icons">visibility</span>
                            <span ng-if="item.Visible == 'Off'" class="material-icons">visibility_off</span>
                        </div>
                    </div>
                    <div class="featured">
                        <div ng-click="toggleFeatured(item)" style="cursor:pointer">
                            <span ng-if="item.Featured == 'Yes'" class="material-icons">star_border</span>
                            <span ng-if="item.Featured == 'No'" class="material-icons">star</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/newtalent" class="bottom-add">
                <span class="material-icons">add_circle</span>
            </a>
        </form>
        <a href="/talento" target="_blank" class="previewpage">
            Preview Page <span class="material-icons">call_made</span>
        </a>
    </div>
</div>
<div ng-if="realog != 'yes'" ng-init="tologin()"></div>