<div ng-if="realog === 'yes'">
    <link rel="stylesheet" href="css/portfolio.css">
<style>
    body{
        padding: 0px 10px;
        margin-bottom: 0px;
    }
</style>
<div id="login">
    <a href="/dashboard " class="title">Add Page</a>
    
    <div class="meniu">
        <div class="leftleft">
            <a href="/cccpage">
                <span class="material-icons">keyboard_backspace</span> Back
            </a>
        </div>
        <div class="centiecentie">In The Park Admin</div>
        <div class="rightright">&nbsp;</div>
    </div>
    
    <form>
        <input type="text" placeholder="Titulo" spellcheck="false" ng-model="pro.Name" ng-show="lang != 'eng'">
        <br><br>
        <img id="thumbie" src="" style="width:100%; display:none"/>
        <input type="file" id="thumb" placeholder="hola" style="display:none"  custom-on-change="uThumbnail">
        <label for="thumb">Thumbnail</label>
        <br><br>
        <div ng-repeat="item in pro.Addon track by $index">
            <hr>
            <span class="sectit">
                
                <span ng-if="item.Type == 'imgvid'">Image  </span>
                <span ng-if="item.Type == 'paragraph'">Paragraph</span>
                <span ng-if="item.Type == 'twoc'">Two Columns</span>
                <span ng-if="item.Type == 'quote'">Quote</span>
                <span ng-if="item.Type == 'embed'">Embed</span>
                
            </span>
            <textarea ng-show="lang != 'eng'" ng-model="item.Src" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Escribe aquí"></textarea>
            <textarea ng-show="lang == 'eng'" ng-model="item.SrcE" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Type here"></textarea>
            <textarea ng-model="item.Src" ng-if="item.Type == 'embed'" placeholder="Paste iframe here"></textarea>
            <img id="hollie{{$index}}" style="width:100%; display:none" ng-if="item.Type == 'imgvid'"/>
            <input type="file" id="iv{{$index}}" placeholder="hola" style="display:none" ng-if="item.Type == 'imgvid'" custom-on-change="upAddonImgVid" name="{{$index}}"/>
        <label for="iv{{$index}}" ng-if="item.Type == 'imgvid'">Select Picture  </label>
            
            <div style="text-align:right">
                <span ng-click="deleteAddon($index, item)" class="ngremove">Remove</span>
            </div>
        </div>
        <hr>
        <div style="text-align:center;">
            <label class="labl">Add new content blocks</label>
            <div class="plusbutton" ng-click="newAddonImgVid()">
                <span class="material-icons">photo</span>
            </div>
            <div class="plusbutton" ng-click="newAddonText()">
                <span class="material-icons">notes</span>
            </div>
            <div class="plusbutton" ng-click="newAddonQuote()">
                <span class="material-icons">format_quote</span>
            </div>
            <div class="plusbutton" ng-click="newAddonEmbed()">
                <span class="material-icons">aspect_ratio</span>
            </div>
        </div>
        <hr>
        <input type="text" placeholder="URL" spellcheck="false" ng-model="pro.Url" ng-trim="false" ng-change="pro.Url = pro.Url.split(' ').join('')"/>
        <hr>
        <button id="btnLogin" type="submit" ng-disabled = "waitSave != 0" ng-click="newP()">{{buttonMgs}}</button>
        <div ng-if="errorMsg"> {{errorMsg}} </div>
    </form>
</div>
    <progress id="uploader" class="off"></progress>
<!-- Switch -->
<div class="onoffswitch">
    <input ng-model="lang" ng-true-value="'eng'" ng-false-value="'esp'" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>

    </div>
    <div ng-if="realog != 'yes'" ng-init="tologin()"></div>