<!-- <div ng-if="realog === 'yes'">
<style>
    body{
        padding: 0px 10px;
        margin-bottom: 0px;
    }
</style>
<div id="login">
    <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/ccc-inthepark.appspot.com/o/cccms.svg?alt=media&token=08cf6e5b-636d-4b02-8c41-32fdc5906d80"/>
    
    <div class="meniu">
        <div class="leftleft"><a href="/ccctalento"><</a></div>
        <div class="centiecentie">{{talento.Name}}</div>
        <div class="rightright">&nbsp;</div>
    </div>
    
    <form>
        <img id="thumbie" src="{{talento.Thumbnail}}" style="width:100%;"/>
        <input type="file" id="thumb" placeholder="hola" style="display:none"  custom-on-change="uThumbnail">
        <label for="thumb">Thumbnail</label>
        <br><br>
        <img id="thumbieTwo" src="{{talento.ThumbnailTwo}}" style="width:100%;"/>
        <input type="file" id="thumbTwo" placeholder="hola" style="display:none"  custom-on-change="uThumbnailTwo">
        <label for="thumbTwo">Thumbnail Two</label>
        <input type="text" placeholder="Nombre" spellcheck="false" ng-model="talento.Name" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Altura" spellcheck="false" ng-model="talento.Altura" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Busto" spellcheck="false" ng-model="talento.Busto" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Cintura" spellcheck="false" ng-model="talento.Cintura" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Cadera" spellcheck="false" ng-model="talento.Cadera" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Zapato" spellcheck="false" ng-model="talento.Zapato" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Cabello" spellcheck="false" ng-model="talento.Cabello" ng-show="lang != 'eng'"/>
        <br><br>
        <input type="text" placeholder="Ojos" spellcheck="false" ng-model="talento.Ojos" ng-show="lang != 'eng'"/>
        <br><br>
        
        <div ng-repeat="item in addies | orderBy: 'Order'">
            <hr>
            <span class="sectit">
                <span ng-if="item.Type == 'imgvid'">Image  </span>
                <span ng-if="item.Type == 'text'">Paragraph</span>
                <span ng-if="item.Type == 'twoc'">Two Columns</span>
                <span ng-if="item.Type == 'quote'">Quote</span>
                <span ng-if="item.Type == 'embed'">Embed</span>
            </span>
            <textarea ng-show="lang != 'eng'" ng-model="item.Src" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Escribe aquí" ng-blur="addies.$save(item)"></textarea>
            <textarea ng-show="lang == 'eng'" ng-model="item.SrcE" ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Type here" ng-blur="addies.$save(item)"></textarea>
            <textarea ng-model="item.Src" ng-if="item.Type == 'embed'" placeholder="Paste iframe here" ng-blur="addies.$save(item)"></textarea>
            
            
            <img ng-if="item.Type == 'imgvid' && item.Src" id="IMG{{item.$id}}" src="{{item.Src}}" style="width:100%;"/>
            <input type="file" id="{{item.$id}}" style="display:none" custom-on-change="ChangeIMG" />
            <label for="{{item.$id}}" ng-if="item.Type == 'imgvid'">Select Picture  </label>
            
            
            <div style="display:block;height:40px">
                <div class="blockieup">
                    <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                        <img id="{{item.$id}}" src="img/up.svg"/>
                    </div>
                    <div id="{{item.$id}}" class="down" ng-click="downNum($event, item)">
                        <img id="{{item.$id}}" src="img/down.svg"/>
                    </div>
                    
                </div>
                <span style="float:right; margin-top:15px;" id="{{item.$id}}" ng-click="deleteAddonie($event, item)" class="ngremove">Remove</span>
            </div>
        </div>
        <hr>
        <div style="text-align:center;">
            <div class="plusbutton" ng-click="newAddonImg()">
                <img src="img/img.svg"/>
            </div>
        </div>
        <hr>
        

        <input type="text" placeholder="URL" spellcheck="false" ng-model="talento.Url" ng-trim="false" ng-change="talento.Url = talento.Url.split(' ').join('')"/>
        <br><br>
        <textarea placeholder="Descripcion SEO" ng-model="talento.SeoDesc"></textarea>
        <br>
        <input type="text" placeholder="Instagram" spellcheck="false" ng-model="talento.Instagram" ng-show="lang != 'eng'"/>


        <hr>
        <button id="btnLogin" type="submit" ng-click="talento.$save()">Guardar</button>
    </form>
</div>
<div class="footie">
    <span>&copy; comcomcom 2021</span>
</div> -->
<!-- Switch -->
<!-- <a href="/talento/{{talento.$id}}" target="_blank" class="gototalento">
    View talento
</a>
<div class="onoffswitch">
    <input ng-model="lang" ng-true-value="'eng'" ng-false-value="'esp'" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
<progress id="uploader" class="off"></progress>
    </div>
    <div ng-if="realog != 'yes'" ng-init="tologin()"></div> -->

    <div ng-if="realog === 'yes'">
        <style>
            body {
                padding: 0px 10px;
                margin-bottom: 0px;
            }
        </style>
        <div id="login" class="title">Edit Model
            <div class="meniu">
                <div class="leftleft">
                    <a href="/ccctalento">
                        <span class="material-icons">keyboard_backspace</span> Back
                    </a>
                </div>
                <!-- <div class="centiecentie">{{talento.Name}}</div> -->
                <div class="centiecentie">IN THE PARK ADMIN</div>
                <div class="rightright">&nbsp;</div>
            </div>
            <form>
                <img id="thumbie" src="{{talento.Thumbnail}}" style="width:100%;">
                <input type="file" id="thumb" placeholder="Thumbnail One" style="display:none" custom-on-change="uThumbnail">
                <label for="thumb">Thumbnail</label>

                <img id="thumbie" src="{{talento.ThumbnailTwo}}" style="width:100%;">
                <input type="file" id="thumb2" placeholder="Thumbnail Two" style="display:none" custom-on-change="uThumbnailTwo">
                <label for="thumb2">Thumbnail Two</label>
    
                <div class="input">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre y apellidos" spellcheck=false ng-model="talento.Name"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Pronombre</label>
                    <input type="text" placeholder="Pronombre" spellcheck=false ng-model="talento.Pronombre"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Profesion</label>
                    <input type="text" placeholder="Profesion" spellcheck=false ng-model="talento.Profesion"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Lugar de Origen</label>
                    <input type="text" placeholder="Lugar de Origen" spellcheck=false ng-model="talento.LugarOrigen"
                        ng-show="lang != 'eng'">
                </div>
                
                <div class="input">
                    <label>Lugar de Residencia</label>
                    <input type="text" placeholder="Lugar de Residencia" spellcheck=false ng-model="talento.LugarResidencia"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Altura</label>
                    <input type="text" placeholder="Ej. 1.80m" spellcheck=false ng-model="talento.Altura"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Busto</label>
                    <input type="text" placeholder="Ej. 90cm" spellcheck=false ng-model="talento.Busto"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Cintura</label>
                    <input type="text" placeholder="Ej. 60cm" spellcheck="false" ng-model="talento.Cintura"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Cadera</label>
                    <input type="text" placeholder="Ej. 60cm" spellcheck="false" ng-model="talento.Cadera"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Pantalon</label>
                    <input type="text" placeholder="Ej. 32" spellcheck="false" ng-model="talento.Pantalon"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Zapato</label>
                    <input type="text" placeholder="Ej. 25.5" spellcheck="false" ng-model="talento.Zapato"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Saco</label>
                    <input type="text" placeholder="Ej. 25.5" spellcheck="false" ng-model="talento.Saco"
                        ng-show="lang != 'eng'">
                </div>

                <div class="input">
                    <label>Camisa</label>
                    <input type="text" placeholder="Ej. 25.5" spellcheck="false" ng-model="talento.Camisa"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Color cabello</label>
                    <input type="text" placeholder="Ej. Rubio" spellcheck="false" ng-model="talento.Cabello"
                        ng-show="lang != 'eng'">
                </div>
    
                <div class="input">
                    <label>Color de ojos</label>
                    <input type="text" placeholder="Ej. Azul" spellcheck=""false"" ng-model="talento.Ojos"
                        ng-show="lang != 'eng'">
                </div>
    
                <div ng-repeat="item in addies | orderBy: 'Order'">
                    <hr>
                    <span class="sectit">
                        <span ng-if="item.Type == 'imgvid'">Image  </span>
                        <span ng-if="item.Type == 'text'">Paragraph</span>
                        <span ng-if="item.Type == 'twoc'">Two Columns</span>
                        <span ng-if="item.Type == 'quote'">Quote</span>
                        <span ng-if="item.Type == 'embed'">Embed</span>
                    </span>
                    <textarea ng-show="lang != 'eng'" ng-model="item.Src"
                        ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Escribe aquí"
                        ng-blur="addies.$save(item)"></textarea>
                    <textarea ng-show="lang == 'eng'" ng-model="item.SrcE"
                        ng-if="item.Type != 'imgvid' && item.Type != 'embed'" placeholder="Type here"
                        ng-blur="addies.$save(item)"></textarea>
                    <textarea ng-model="item.Src" ng-if="item.Type == 'embed'" placeholder="Paste iframe here"
                        ng-blur="addies.$save(item)"></textarea>
                    <img ng-if="item.Type == 'imgvid' && item.Src" id="IMG{{item.$id}}" src="{{item.Src}}" style="width:100%;">
                    <input type="file" id="{{item.$id}}" style="display:none" custom-on-change="ChangeIMG">
                    <label for="{{item.$id}}" ng-if="item.Type == 'imgvid'">Select Picture  </label>
                    <div style="display:block;height:40px">
                        <div class="blockieup">
                            <div id="{{item.$id}}" class="top" ng-click="upNum($event, item)">
                                <span id="{{item.$id}}" class="material-icons">expand_less</span>
                            </div>
                            <div id="{{item.$id}}" class="down" ng-click="downNum($event, item)">
                                <span id="{{item.$id}}" class="material-icons">expand_more</span>
                            </div>
                        </div>
                        <span style="float:right; margin-top:15px;" id="{{item.$id}}" ng-click="deleteAddonie($event, item)"
                            class="ngremove">Remove</span>
                    </div>
                </div>
                <hr>
                <div style="text-align:center;">
                    <label>Add new image block</label>
                    <div class="plusbutton" ng-click="newAddonImg()">
                        <span class="material-icons">photo</span>
                    </div>
                </div>
                <hr>
    
                <div class="input">
                    <label>Page URL</label>
                    <input type="text" placeholder="This will appear in your URL bar." spellcheck="false" ng-model="talento.Url"
                        ng-trim="false" ng-change="talento.Url = talento.Url.split(\' \').join(\'\')">
                </div>
    
                <div class="input">
                    <label>Description SEO</label>
                    <textarea placeholder="Type here the page's description for search engines."
                        ng-model="talento.SeoDesc"></textarea>
                </div>
                <hr>
    
                <input type="text" placeholder="Instagram" spellcheck="false" ng-model="talento.Instagram"
                    ng-show="lang != 'eng'">
                <hr>
                <button id="btnLogin" type="submit" ng-click="talento.$save()">Guardar</button>
            </form>
        </div>
        <a href="/talento/{{talento.$id}}" target="_blank" class="previewpage">
            Preview Page <span class="material-icons">call_made</span>
        </a>
        <div class="onoffswitch">
            <input ng-model="lang" ng-true-value="'eng'" ng-false-value="'esp'" type="checkbox" name="onoffswitch"
                class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <progress id="uploader" class="off"></progress>
    </div>
    <div ng-if="realog != 'yes'" ng-init="tologin()"></div>