<!--filter:filtEsp -->

<!-- <div class="grid cincuentados">
        <a ng-repeat="item in projects | filter:filtEsp | orderBy: 'Order'" ng-if="item.Visible == 'On'" href="/project/{{item.$id}}" class="thumbnail {{item.Settings.Ratio}}" ng-init="mason()" custom-on-change="mason" style="background-image: url({{item.Thumbnail}});">
            <div class="thover">
                <div class="ttop">
                    <span class="commm" ng-if="realan != 'eng'">
                        <div class="namiel">{{item.Name}}</div>
                        <div class="tagiel">{{item.Tags}}</div>
                    </span>
                    <span class="commm" ng-if="realan == 'eng'">
                        <div class="namiel">{{item.NameE}}</div>
                        <div class="tagiel">{{item.TagsE}}</div>
                    </span>
                </div>
            </div>
        </a>
</div> -->
    
 <!-- Tags -->

<!-- 
<ng-include ng-controller="footerController" src="'footer/footer.view.html'"></ng-include> -->


<ng-include ng-controller="headerController" src="'header/header.view.html'"></ng-include>
<div id="wrapper">
    <div id="modules">
        <div ng-repeat="item in produccion | orderBy: '-Order'" ng-if="item.Visible == 'On' && item.PIN" class="module {{item.MediaType}}">
            <div class="media">
                <a href="/produccion/{{item.$id}}"><img src="{{item.Thumbnail}}"></a>
            </div>
            <div class="data">
                <div class="date"> {{item.dateday}}.{{item.datemonth}}.{{item.dateyear}}</div>
                <div class="title"><a href="/produccion/{{item.$id}}">{{item.Name}}</a></div>
                <div class="subtitle"><a href="/produccion/{{item.$id}}">{{item.Subtitle}}</a></div>
            </div>
        </div>
        <div ng-repeat="item in produccion | orderBy: '-Order'" ng-if="item.Visible == 'On' && !item.PIN" class="module {{item.MediaType}}">
            <div class="media">
                <a href="/produccion/{{item.$id}}"><img src="{{item.Thumbnail}}"></a>
            </div>
            <div class="data">
                <div class="date"> {{item.dateday}}.{{item.datemonth}}.{{item.dateyear}}</div>
                <div class="title"><a href="/produccion/{{item.$id}}">{{item.Name}}</a></div>
                <div class="subtitle"><a href="/produccion/{{item.$id}}">{{item.Subtitle}}</a></div>
            </div>
        </div>
    </div>
    <ng-include ng-controller="relatedController" src="'related/related.view.html'"></ng-include>
</div>
<ng-include ng-controller="footerController" src="'footer/footer.view.html'"></ng-include>