<div id="wrapper">
    <div id="modules">
        <div ng-repeat="item in management | orderBy: '-Order'" ng-if="item.Visible == 'On' && item.PIN" class="module {{item.MediaType}}">
            <div class="media">
                <a href="/management/{{item.$id}}"><img src="{{item.Thumbnail}}"></a>
            </div>
            <div class="data">
                <div class="date"> {{item.dateday}}.{{item.datemonth}}.{{item.dateyear}}</div>
                <div class="title"><a href="/management/{{item.$id}}">{{item.Name}}</a></div>
                <div class="subtitle"><a href="/management/{{item.$id}}">{{item.Subtitle}}</a></div>
            </div>
        </div>
        <div ng-repeat="item in management | orderBy: '-Order'" ng-if="item.Visible == 'On' && !item.PIN" class="module {{item.MediaType}}">
            <div class="media">
                <a href="/management/{{item.$id}}"><img src="{{item.Thumbnail}}"></a>
            </div>
            <div class="data">
                <div class="date"> {{item.dateday}}.{{item.datemonth}}.{{item.dateyear}}</div>
                <div class="title"><a href="/management/{{item.$id}}">{{item.Name}}</a></div>
                <div class="subtitle"><a href="/management/{{item.$id}}">{{item.Subtitle}}</a></div>
            </div>
        </div>
    </div>

    <ng-include ng-controller="relatedController" src="'related/related.view.html'"></ng-include>

</div>