@font-face {
    font-family: Theinhardt;
    src: url(../types/Theinhardt-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: Theinhardt;
    src: url(../types/Theinhardt-RegularItalic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Theinhardt;
    src: url(../types/Theinhardt-Light.otf);
    font-weight: lighter;
}
@font-face {
    font-family: Theinhardt;
    src: url(../types/Theinhardt-LightItalic.otf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: Theinhardt;
    src: url(../types/Theinhardt-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: TheinhardtThin;
    src: url(../types/Theinhardt-Thin.otf);
}

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }


@keyframes fadeout {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@-moz-keyframes fadeout {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@-webkit-keyframes fadeout {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }




@keyframes fadeh {
  from {
    height: 100vh; }

  to {
    height: 0vh; } }
@-moz-keyframes fadeh {
  from {
    height: 100vh; }

  to {
    height: 0vh; } }
@-webkit-keyframes fadeh {
  from {
    height: 100vh; }

  to {
    height: 0vh; } }




/*
Colors
– 


Thumbnails
– Landscape : 8:5;
– Portrait : 5:8;

*/
